:root {
  --text-color: #e5e3e3;
  --bg-color: #14120b;
  --primary-btn-color: #e8e6e5;
  --hover-btn-color: #d7d6d5;
  --btn-text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid red;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  width: 68%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 5px 0;
}

nav div a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 28px;
  font-size: 14px;
}

nav div button {
  color: var(--btn-text-color);
  padding: 6px 12px;
  border-radius: 50px;
  border: 1px solid #565656;
  cursor: pointer;
}

#sign-in-btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-right: 10px;
}

#sign-in-btn:hover {
  background-color: #1c1910;
}

#download-btn {
  background-color: var(--primary-btn-color);
}

#download-btn:hover {
  background-color: var(--hover-btn-color);
}

main {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 70px;
  margin: 100px auto;
}

#main-first {
  /* border: 2px solid magenta; */
  width: 40%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#main-first h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  padding-bottom: 20px;
}

#main-first button {
  color: var(--btn-text-color);
  padding: 12px 26px;
  border-radius: 50px;
  border: 1px solid #565656;
  cursor: pointer;
  background-color: var(--primary-btn-color);
  font-size: medium;
}

#main-first button:hover {
  background-color: var(--hover-btn-color);
}

#main-second img {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border-radius: 8px;
}

#trusted-by {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

#cards {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 100px;
}

#card-images {
  width: 300px;
  height: 100px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1913;
}

#card-images img {
  max-width: 70%;
  max-height: 50px;
  object-fit: contain;
}

#big-cards {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1913;
  border-radius: 4px;
  gap: 10px;
  margin-bottom: 120px;
}

#big-cards img {
  object-fit: contain;
  padding: 16px;
  border-radius: 20px;
}

#card-left {
  padding: 20px;
}

#card-left p span {
  color: var(--text-color);
}

#card-left p {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: #a0a0a0;
  margin-bottom: 12px;
}

#card-left a {
  color: #ff0000;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
